version: '2'

services:
  postgres:
    image: postgres:9.5
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${database_password}
    restart: always

  cachet:
    image: cachethq/docker:2.3.13
    ports:
      - ${public_port}:8000
    links:
      - postgres:postgres
    environment:
      - DB_DRIVER=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=postgres
      - DB_USERNAME=postgres
      - DB_PASSWORD=${database_password}
      - DB_PREFIX=chq_
      - APP_KEY=${APP_KEY:-null}
      - APP_LOG=errorlog
      - DEBUG=${debug}
    depends_on:
      - postgres
    restart: on-failure

volumes:
  db_data:
    driver: ${volume_driver}
